
<div class="page-header" id="page-header">
    <h1>
        <a href="{{& page.page_link}}" title="{{page.page_title}}"><img src="{{& page.page_logo}}" alt="[M↓]" /></a>&nbsp; {{& page.page_title}}
        <br class="visible-xs"> <small><em>{{& page.page_description}}</em></small>
    </h1>
</div>

<div class="content" id="page-content" role="main">        

    <form name="mde_form" id="mde_form">
        <div class="form-group">
            <div id="mde-editor"></div>
        </div>
    </form>
    <hr>
    <div class="content">
        <p class="lead">
            Use the field above to write your <strong><a href="{{website.home}}" title="What is MDE?">Markdown-Extended</a> content</strong>
            then click on the <em>eye</em> icon (it appears when the mouse is hover the field)
            to get the result.
            You can also use the <strong><em>fullscreen</em> feature</strong> by clicking on the second icon.
            To <strong>get help</strong> about the MDE syntax, you can read the
            <a href="{{& website.reminders_url}}" onclick="return mdereminders_popup();" title="Markdown syntax reminders (new floated window)" target="_blank">Markdown syntax reminders</a>.
        </p>
    </div>

</div>

